bm3d==4.0.2
bm4d==4.2.4
lpips==0.1.4
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnx==1.16.0
opencv-python==4.9.0.80
scikit-image==0.24.0
scikit-learn==1.4.2
scipy==1.13.0
torch==2.0.1
torch-tb-profiler==0.4.3
torchaudio==2.0.2
torchvision==0.15.2
